/* Global */
.mt-0 {
    margin-top: 0;
}
.mt-5 {
	margin-top: 5px;
}
.mt-10 {
	margin-top: 10px;
}
.mt-15 {
	margin-top: 15px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-35 {
    margin-top: 35px;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-35 {
    margin-bottom: 35px;
}
.pt-0 {
    padding-top: 0;
}
.pt-5 {
    padding-top: 5px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-25 {
    padding-top: 25px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-35 {
    padding-top: 35px;
}
.pb-0 {
    padding-bottom: 0;
}
.pb-5 {
    padding-bottom: 5px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-25 {
    padding-bottom: 25px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-35 {
    padding-bottom: 35px;
}
.datepicker-style .bootstrap-datetimepicker-widget {
    color: #000;
}
.datepicker-style .fa {
    position: absolute;
    margin:0;
    padding:0;
    right: 10px;
    top: calc(50% - 9px);
    font-size: 18px;
}
* > img, img, .responsive {
    max-width: 100%;
}
* > a, a, .pointer {
    cursor: pointer;
}
/* End Global */

/* Pagging */
.pagination > li > a.hover-main-color, 
.pagination > li > span.hover-main-color {
    line-height: initial;
}
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
    background-color: #bf1e2f;
    border-color: #bf1e2f;
}
/* End pagging */

/* Account */
.user-info {
    display: block;
    padding: 5px;
    padding-left: 5px;
    padding-left: 20px;
    color: #deff38;
    font-size: 17px;
}
.dropdown > .dropdown-menu, .account-mobile > li > a {
    color: #bf1e2e;
    margin: 0;
}
.dropdown:hover > .dropdown-menu, li.dropdown:hover > .dropdown-menu {
    margin: 0;
}
.dropdown.with-click:hover > .dropdown-menu {
    display: none;
}
.dropdown.with-click.open > .dropdown-menu, .dropdown.with-click.open:hover > .dropdown-menu {
    display: block;
    left: auto;
    right: 0;
    background-color: #007bcb;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
}
/* End account */

/* Mobile menu */
/*.mobile_menu_container_v1 {
    min-height: 54px;
}*/
.mobile-menu nav {
    display: none;
}
.mobile_logo {
    width: calc(100% - 50px);
    display: block;
}
.mobile_logo .logo_left {
    float: left;
}
.mobile_logo .logo_right {
    float: right;
    padding-top: 15px;
}
/* End menu mobile */

/* Main Menu */
.menu-main-wrap {
    background-color: #bf1e2e;
}
.menu-main-wrap nav, .menu-main-wrap .nav {
    display: inline-block;  
}
/* End main Menu */



/* Header */
.header-wrap {
    padding-bottom: 0;
}
.header-top {
    padding-top: 10px;
    padding-bottom: 10px;
}
.info-wrap {
    padding-top: 20px;
    text-align: right;
}
.info-wrap .text {
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    line-height:32px;
    font-size: 14px;
    vertical-align: top;
    margin: 0;
}
.info-wrap .address-wrap {
    padding: 6px 10px;
    color: #fff;
    background-color: #BF1E2E;
}
.info-wrap .phone-wrap {
    line-height:1.5;
    padding-right:20px;
    font-size: 36px;
    font-weight: bold;
    color: #485461;
}
.info-wrap .phone-wrap a {
    color: inherit;
}
/* End header */

/* Footer */
.footer-wrap {
    margin-top: 30px;
}
.color-red-purple, .footer-contact a, .art-footer-text .footer-contact a {
    /*color: #b7103f;*/
}
.color-lemon-gold {
    color: #DEFF38;
}
.footer-contact .phone {
    font-size: 22px;
}
.art-footer-text .footer-openhours p.oh-row {
    margin-bottom: 10px;
}
.art-footer-text .footer-openhours span.oh-date {
    width: 40px;
    display: inline-block;
}
.footer-openhours .oh-time {
    text-transform: lowercase;
}
/* End Footer */

/* Home slider */
.slider-width-height .fixed {
    height: 0px; /* Auto height */
}
@media screen and ( max-width: 767px ) {
    .slider-width-height .fixed {
        height: 400px;
    }
}
@media screen and ( max-width: 575px ) {
    .slider-width-height .fixed {
        height: 350px;
    }
}
@media screen and ( max-width: 354px ) {
    .slider-width-height .fixed {
        height: 300px;
    }
}
/* End home slider */

/* Youtube iframe */
.youtube-player { 
    position: relative; 
    padding-bottom: 56.25%; /* Use 75% for 4:3 videos */ 
    
    width: 100%
    max-width: 100%; 
    height: 0;
    background: #000;
    margin: 0 auto;
    overflow: hidden; 
} 
.youtube-player iframe { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: 100; 
    background: transparent; 
}
/* End youtube iframe */

/* Newsletter */
.newsletter-container-v1 {
    text-align: center;
    background: rgba(3, 3, 3, 0.3);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 15px;
    border-bottom: 5px solid #007acc;
}
.newsletter-container-v1 .title {
    margin:0;
    padding:0;
    text-align: right;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
}
ul.newsletter-container-v1-inner {
    margin:0 auto;
    padding:0;
    display: inline-block;
}
ul.newsletter-container-v1-inner > li {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    float: left;
}
.newsletter-form {
    display: block;
    width: 350px;
    margin:0 auto;
}
.newsletter-form ul {
    margin:0;
    padding:0;
}
.newsletter-form ul li {
    list-style-type: none;
}
.newsletter-form form {
    display: inline-block;
    width: 100%;
}
.newsletter-form .newsletter-button {
    width: 100px;
    padding-left: 15px;
    float: right;
}
.newsletter-form .newsletter-button button {
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    background-color: #007acc;
    color: #fff;
    white-space: nowrap;
    vertical-align: middle;

    padding:0;
    margin:0;

    border: none;
    border-radius: 4px;
}
.newsletter-form .newsletter-button:hover button {
    background-color: #9b1e13;
}
.newsletter-form .newsletter-input {
    width: calc( 100% - 115px );
    float: left;
    position: relative;
}
.newsletter-form .newsletter-input input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: transparent none repeat scroll 0 0;
    border-color: transparent transparent #fff;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #1d2129;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 1px;
    padding-left: 10px;
    width: 100%;
    height: 42px;
    line-height: 42px;
    outline: none;
}
@media screen and ( max-width: 575px ){
    .newsletter-form {
        width: 100%;
    }
}
@media screen and ( max-width: 640px ){
    ul.newsletter-container-v1-inner > li {
        width: 100%;
        text-align: center;
    }
}
/* End Newsletter */

/* Single Newsletter */
.form-newsletter-single-container ul {
    margin:0;
    padding:0;
}
.form-newsletter-single-container ul li {
    list-style-type: none;
}
.form-newsletter-single-container {
    width: 100%;
    display: inline-block;
}
.form-newsletter-single {
    position: relative;
}
.form-newsletter-single input {
    border: solid 1px #007acc;
    width: calc(100% - 70px);
    height: 30px;
    color: #575757;
    float: left;
    padding-left: 10px;
}
.form-newsletter-single button {
    position: absolute;
    top:0;
    right:0;
    border: none;
    width: 75px;
    height: 30px;
    background: #007acc;
    color: #fff;
}
.form-newsletter-single button:hover {
    background: #0192c9;
}
.form-newsletter-single div.form-tooltip-error {
    position: absolute;
}
.form-newsletter-single div.form-tooltip-error:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -4px;
    margin-left: -5px;
    width: 0;
    height: 0;
    background: none;
}
.footer-newsletter {
    display: inline-block;
    width: 100%;
}
/* End Single Newsletter */

/* Appointment */
.appointment-form ul, .appointment-form-v1 ul {
    padding:0;
    margin:0;
}
.appointment-form ul li, .appointment-form-v1 ul li {
    list-style-type: none;
}
.appointment-form-v1 input, textarea, select {
    width: 100%;
}
/* End Appointment */

/* open hours */
.growrow, .oh-row {
    margin: 0 0 10px;
    line-height: initial;
}
.growrow .oh-row .oh-time {
    text-transform: lowercase;
}
/* end open hours */


/* Sidebar */
.art-sidebar1{
    display: block;
}
.art-sidebar-box, .art-block {
    margin-bottom: 12px;
    padding: 15px 13px;
    border-radius: 7px;
}
.art-sidebar-box h3, .art-block h3 {
    margin-bottom: 15px;
    color: #9281b7;
    font-size: 18px;
}
.art-sidebar-box .oh-row, .art-block .oh-row {
    margin-bottom: 10px;
    padding-left: 70px;
    position: relative;
}
.art-sidebar-box .oh-date, .art-block .oh-date {
    font-weight: bold;
    position: absolute;
    left: 0px;
}
.art-sidebar-box .phone, .art-block .phone {
    font-size: 16px;
    font-weight: bold;
}
.art-sidebar-box.v1, .art-block.v1 {
    background: #C8DF6D;
    border: 1px solid rgba(73, 103, 50, 0.2);
    padding: 7px;
    margin: 5px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.art-sidebar-box.v1 .art-blockcontent, .art-block.v1 .art-blockcontent {
    background: #FFFFFF;
    border: 1px solid #80AF5A;
    padding: 5px;
    margin: 0;
    color: #444444;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.box_waraper {
    position: relative;
}
/* End Sidebar */

/* Image bg */
.image-bg {
    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;
    padding-bottom: 75%;

    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.image-bg img, ul#portfolio-grid li .image-bg img {
    display: none;
}
/*.gallery-box:hover .image-bg, .gallery-box:focus .image-bg {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}*/
/* End image bg */

/* Main */
.section-wrap {
    margin-top: 35px;
}
.home-about-us .title {
    font-size: 27px;
    margin-left: 10px;
    color: #f63b3b;
}
.home-about-us .content {
    line-height: 25px;
}
.home-about-us .content p {
    padding-left: 10;
}
.home-service .title {
    margin-left: 10px;
    margin-bottom: 12px;
    font-size: 26px;
    color: #3739be;
}
.service-item {
    margin-bottom: 30px;
    border: #ba1343 1px solid;
    border-radius: 10px;
    text-align:center;
    overflow: hidden;
}
.service-item .title {
    margin: 0;
    padding: 14px; 
    color: #66b458; 
    font-size: 20px;
    text-transform: uppercase;
}
.service-item .title a {
    color: inherit;
    font-size: inherit;
}
@media screen and ( min-width: 768px ){
    .service-item .title {
        height: 58px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .service-item .content {
        padding: 14px;
        height: 85px;
        overflow: hidden;
    }
}
/* End Main */

/* About */
.about-us .title {
    font-size: 27px;
    margin-left: 10px;
    color: #f63b3b;
}
.about-us .content {
    line-height: 25px;
}
.about-us .content p {
    padding-left: 10;
}
.art-postcontent .title-v1, .title-v1 {
    color: #a24d1c; 
    font-size: 10px; 
    line-height: 25px;
    margin-bottom: 15px;
}
/* End About */

/* News */
.breadcrumb {
    margin-bottom:0;
    background: none;
}
.art-postcontent {
    margin-top: 30px;
}
.search_area_bar > form {
    position: relative;
}
.search_area_bar input[type="text"] {
    background-color: #fff;
    border: 1px solid #007acc;
    color: #666666;
    height: 40px;
    line-height: 28.8px;
    margin: 0;
    outline: medium none;
    padding: 5px 48px 5px 15px;
    position: relative;
    transition: all 0.4s ease 0s;
    width: 100%;
    outline: none;
}
.search_area_bar button.submit {
    background-color: #007acc;
    border: 1px solid #007acc;
    height: 40px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 45px;
    outline: none;
    color: #fff;
}
.search_area_bar button.submit:hover {
    background: #0192c9;
}

.recent_area_bar .signle_post_v1 {
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
}
.signle_post_v1 .img_post_rc_v1 {
    display: inline-block;
    float: left;
    width: 34%;
}
.signle_post_v1 .txt_post_rc_v1 {
    display: inline-block;
    padding-left: 15px;
    width: 66%;
}
.signle_post_v1 .img_post_rc_v1 img {
	width: 100%;
}
.signle_post_v1 .txt_post_rc_v1 .title {
    margin-top: 0;
    font-family: inherit;
    font-size: 15px;
}
.signle_post_v1 .txt_post_rc_v1 a, .signle_post_v1 .txt_post_rc_v1 a span, .signle_post_v1 .txt_post_rc_v1 a i {
    text-decoration: none;
    color: inherit;
}
.signle_post_v1 .txt_post_rc_v1 a:hover, .signle_post_v1 .txt_post_rc_v1 a:hover span {
    color: #e40149;
}
.signle_post_v1 .txt_post_rc_v1 .date, .signle_post_v1 .txt_post_rc_v1 i {
    color: #aaa;
    font-size: 11px;
}
.category_news_v1 ul {
    margin:0;
    padding:0;
}
.category_news_v1 ul li {
	list-style-type: none;
}
.category_news_v1 ul li a {
    text-decoration: none;
    font-family: inherit;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    border-bottom: 1px solid #eee;
    display: block;
    font-size: 14px;
    padding: 10px 0;
    position: relative;
    transition: all 0.3s ease 0s;
}
.category_news_v1 ul li a, .category_news_v1 ul li a span, .category_news_v1 ul li a i {
    text-decoration: none;
    color: inherit;
}
.category_news_v1 ul li a:hover, .category_news_v1 ul li a:hover span {
    color: #e40149;
}
.category_news_v1 ul li span.count {
	color: inherit;
	float: right;
}

.tag_news_v1 ul {
	margin:0;
	padding:0;
}
.tag_news_v1 ul li {
	list-style-type: none;
    display: inline-block;
    margin: 0 8px 8px 0;
}
.tag_news_v1 ul li a {
    background-color: #007acc;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 21px;
    opacity: 1;
    padding: 5px 10px;
    text-transform: capitalize;
    transition: all 0.2s linear 0s;
    text-decoration: none;
    font-variant-ligatures: common-ligatures;
    font-family: inherit;
}
.tag_news_v1 ul li:hover a {
    background: #0192c9;
}

.single_news_trend {
	/*background: #dee4dd;*/
    border: 1px solid #dee4dd;
	margin-bottom: 30px;
    border-radius: 0 0 3px 3px;
}
.single_news_trend .news_front {
	position: relative;
	width: 100%;
	padding-bottom: 75%;
    z-index: 1;
}
.news_front .news_trend_thumb {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}
.news_hover_info {
    position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}
.news_hover_info::before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: -1;
}
.single_news_trend:hover .news_hover_info::before {
    opacity: 0.5;
    visibility: visible;
}
.news_hover_action {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.news_hover_action a {
    border: 1px solid #3739be;
    border-radius: 100%;
    display: block;
    height: 50px;
    line-height: 55px !important;
    opacity: 0;
    text-align: center !important;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 50px;
}
.news_hover_action a i {
    color: #3739be;
    font-size: 24px;
    line-height: 20px;
}
.single_news_trend:hover .news_hover_action a {
    opacity: 1;
    visibility: visible;
}
.news_hover_action a:hover {
    background: none repeat scroll 0 0;
    border: 1px solid #3739be;
}
.news_hover_action a:hover i {
    color: #3739be !important;
}
.news_trend_details {
	padding: 15px;
}
.news_trend_details .title {
	margin:00 5px;
	padding:0;
	height: 44px;
	font-size: 17px;
	line-height: 21px;
    font-weight: 500;
	overflow: hidden;
}
.news_trend_details .title, .news_trend_details .title a, .news_trend_details .title span {
    color: #3739be;
}
.news_trend_details ul, ul.post_info {
	margin:0;
	padding:00 15px;
	border-bottom: 1px dashed #aba6a6;
    color: #aba6a6;
}
.news_trend_details ul li, ul.post_info li {
	list-style-type: none;
    display: inline-block;
    padding-right: 5px;
}
.news_trend_details ul li a, ul.post_info li a, .news_trend_details ul li span, ul.post_info li span {
	font-weight: normal;
	color: inherit;
	font-size: 13px;
    line-height: 15px;
}
.news_trend_details ul li+li, ul.post_info li+li {
	padding-left: 5px;
	padding-right: 5px;
}
.border_right_post {
    position: relative;
}
.border_right_post::after {
    border: 1px solid #eee;
	content: "";
	height: 10px;
	position: absolute;
	right: -7px;
	top: 3px;
}
.news_trend_details .description {
	height: 37px;
    font-size: 13px;
    line-height: 17px;
	overflow: hidden;
    margin-top: 10px;
}
.news-details-title {
    color: #482416;
    font-size: 24px;
    font-family: inherit;
    font-weight: normal;
    font-style: normal;
    margin-top: 5px;
}
.box_news_details .title {
    color: #007acc;
}

/* Search keywords */
.search_title_for .tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.search_title_for .tags li.title_search {
    margin-top: 3px;
    margin-right: 5px;
}
.search_title_for .tags li {
    padding-top: 10px;
}
.search_title_for .tags li {
    float: left;
}
.search_title_for .tags li.title_search span {
    font-weight: 600;
    color: #3e3e3e;
    font-size: 16px;
}
.search_title_for .tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}
.search_title_for .tag::after {
    background: #007acc;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

/* style themes */
.art-postcontent .box_news_details a:hover {
    line-height: inherit;
}
/* End News */


/* Login */

.box_area_login_v1 hr {
    border-top: 1px solid #eee;
}
.box_area_login_v1 .title {
    color: #482416;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    font-family: inherit;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
}
.btn_login_social {
    margin-top: 20px;
}
.btn_login_social span,
.btn_login_social i {
    color: #fff !important;
    font-weight: 500;
    font-variant-ligatures: common-ligatures;
    font-size: 16px;
}
.btn_login_social .btn_facebook_v1 {
    background: #3B5998;
    padding: 7px 25px;
}
.btn_login_social .btn_gplus_v1 {
    background: #dd4b39;
    padding: 7px 35px;
}
.box_area_login_v1 ul {
    margin:0;
    padding:0;
}
.box_area_login_v1 ul li {
    list-style-type: none;
}
.box_area_login_v1 .form-control-wrapper {
    position: relative;
}
/* End Login */

/* Service */
.services_tab_ul_v1 > li.ui-state-child {
	padding: 10px 10px 10px 15px !important;
}
.service-box {
    margin-bottom: 30px;
}
.service-box .sv-title {
    color: #fb7c3c;
    margin: 10px 0;
    font-size: 20px;
    font-weight: normal;
}
.service-box .sv-row {
    margin: 0 0 10px;
}
.service-box .sv-name {

}
.service-box .sv-price {
    font-weight: bold;
    float: right;
}
/* End Service */

/* Booking */
.group-select input, .group-select select, .input-group input, .group-select .btn-book-search {
    height: 42px;
}
.group-select .btn-book-search { 
    line-height: initial;
}
.group-select.multi {
    margin-top: 0;
}
.group-select.multi select {
    height: 202px;
}
.group-select .fa, .input-box .fa {
    color: #aaa;
}

.removeButton {
	cursor: pointer;
	position: absolute;
	left:0;
	top:0;
	z-index: 1;
}
.is-more .group-select:first-child > label {
    margin-left: 30px;
}
.content-shop-booking ul , .popup_main_area ul {
	margin:0;
	padding:0;
}
.content-shop-booking ul li, .popup_main_area ul li {
	list-style-type: none;
}
.staff-avatar img {
	width: 100%;
}
.popup_main_area {
    background: #fff;
    color: #333;
}
.box_account_v1 .modal_form_header {
    border-bottom: 1px solid #2c2b3a;
    background: #938fc5;
    color: #fff;
}
.box_account_v1 .modal_form_header h4 {
    color: #fff;
    text-transform: uppercase;
}
.popup_main_area .form-control-wrapper {
	position: relative;
	width: inherit;
}
.popup_main_area .btn.btn-danger, .popup_main_area .btn.btn-success {
    color: #fff;
    border: none;
    border-radius: none;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
}
.popup_main_area .btn.btn-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.popup_main_area .btn.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.time_work_staff_v1 ul li a {
    min-width: 90px;
    text-align: center;
    text-transform: lowercase;
}
/* End Booking */

/* Payment */
.box_cart {
    margin-top: 0;
}
ul.payment-total-block li {
    display: inline-block;
    width: 100%;
}
.btn-discount, ul.payment-total-block li .btn-discount {
    height: 42px;
    /*background: #c38211;*/
    color: #fff;
}
.btn-discount:hover, ul.payment-total-block li .btn-discount:hover {
    /*background: #ffa914;*/
}
.b-loader {
    border: 5px solid #f3f3f3;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: rgb(243, 243, 243);
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 20px;
    height: 20px;
    margin-left: 0;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* End Payment */

/* Pages */
/* End Pages */

.contact-forms .form-group {
    margin-bottom: 20px;
    position: relative;
}
.form-tooltip-error ul {
    padding: 0;
}

div.google-map iframe {
    height: 315px;
}
/*
     FILE ARCHIVED ON 07:12:16 May 13, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:56:40 Nov 21, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.701
  exclusion.robots: 0.033
  exclusion.robots.policy: 0.019
  esindex: 0.011
  cdx.remote: 6.505
  LoadShardBlock: 91.388 (3)
  PetaboxLoader3.datanode: 63.579 (4)
  PetaboxLoader3.resolve: 64.929 (2)
  load_resource: 90.114
*/